<div class="jumbotron" id="jumbotron1">
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h1>New Opening Hour for <%= @restaurant.name %></h1>

			<%= render 'form' %>

			<%= link_to 'Back', restaurant_opening_hours_path %>
		</div>
	</div>
</div>