
 
<div class="clear"></div> 
<h2>Your order</h2>
<table>
<%= render(cart.line_items) %>
<tr class="total_line">
<td colspan="2">Total</td>
<td class="total_cell"><%= number_to_currency(cart.total_price, unit: "MAD ") %></td>
</tr>
</table>
<div class="cart__checkout"> 
   <%= link_to "Proceed to checkout", new_order_path, method: :get, class: "btn btn-primary btn-block" %> 
</div> 