<div class="centerDisplay">
  <div class="container">
    <h1>Restaurants</h1>
    <div class="clear"></div>

    <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-md-2 col-xs-2">
        <div class="restaurant">
          <div class="image_wrapper" style="background-color: transparent">
            <%= link_to restaurant do %>
              <%= image_tag restaurant.image.url(:large) %>
            <% end %>
          </div>    
        </div>
      </div> 
    <% end %>
  </div>
</div>
</div>