<div class="centerDisplay" style="color: #fff">
<div class="col-md-6 col-md-offset-3">
<h1 style="position: relative; right: 35px; margin-bottom: 20px;">New Restaurant</h1>
<div class="clear"></div>

<%= render 'form', restaurant: @restaurant, user: @user %>

</div>
</div>