<div class="jumbotron" id="jumbotron1">
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h1 style="position: relative; right: 35px; margin-bottom: 20px;">Nouveau Restaurant</h1>
			<div class="clear"></div>

			<%= render 'form', restaurant: @restaurant, user: @user %>
		</div>
	</div>
</div>