/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



@mixin box-shadow {
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

body {
	font-family: 'PT Sans', sans-serif;
	background: url(back-image.jpg);
	background-repeat: no-repeat;
}

$red: #E32523;
 
#order-heading {
	margin: 0;
	padding-bottom: 0.5em;
	font: 150% sans-serif;
	color: #226;
}

.navbar {
	background-color: #FFF;
	@include box-shadow;
	border: none;
	margin-bottom : 0px;
	.navbar-brand {
		text-transform: uppercase;
		letter-spacing: -1px;
		font-weight: bold;
		font-size: 25px;
		a {
			color: $red;
			&:hover {
				color: $red;
				background-color: white;
				text-decoration: underline;
			}
		}
	}
	li {
		a {
			&:hover {
				background-color: #FFF;
			}
		}
	}
}

.restaurant {
	background: white;
	border-radius: 10px;
	margin-bottom: 40px;
	margin-top: 20px;
	@include box-shadow;
	.image_wrapper {
		max-width: 100%;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}
	img {
		width: 100%;
		-webkit-transition: all .3s ease-out;
	  	-moz-transition: all .3s ease-out;
	 	-o-transition: all .3s ease-out;
    	transition: all .3s ease-out;
		&:hover {
			transform: scale(1.075);
		}
	}
	h2 {
		padding: 15px 5%;
		margin: 0;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		text-align: center;
		a {
			text-decoration: none;
			color: black;
			font-weight: bold;
			&:hover {
				background-color: white;
				text-decoration: none;
				color: black;
				font-weight: bold;
			}
		}
	}
}


.review_title {
	margin: 0 0 20px 0;
}
.reviews {
	border-bottom: 1px solid #EAEAEA;
	.star-rating {
		padding-bottom: 8px;
	}
}



.jumbotron {
	margin-bottom: 0;
	height: 583px;
	background: url(dog.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: calc(100% - 0px) calc(100% + 120px); 
	text-align: center;
	h1 {
		font-size: 50px;
		font-weight: 900;
		color: #FFF;
		position: relative;
		top: 50px;
	}
	h2 {
		font-weight: bold;
		color: #FFF;
		font-size: 24px;
		position: relative;
		top: 40px;
	}
}





#btn-danger2 {
	color: white;
	text-decoration: none;
}

.restaurant-info {
	padding-top: 20px;
	padding-bottom: 20px;
}








/* Forms */ 

.checkbox {
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* header */
.my-navbar {
	background: #E32523;
	border-radius: 0;
	border: 0;
	.navbar-brand {
		color: #FFF;
		text-decoration: none;
		&:hover {
			color: #FFF;
		}
	}
	.navbar-nav {
		li {
			a {
				color: white;
				text-decoration: none;
				font-weight: bold;
			}
		}	
	}
}

/* footer */ 

footer {
  height: 40px;
  background-color: #E32523;
  color: #FFF;
  font-weight: bold;
  margin: 0 auto !important;
  padding-top: 12px;
  width: 100% !important;
  position: absolute;
  	a {
  		color: #FFF;
  		&:hover {
  			background-color: #E32523;
  		};
  	}
}

.search-form {
	position: relative;
	top: 80px;
}


/* show page */

.centerDisplay {
	width: 920px;
	margin: 45px auto 45px;
	height: auto !important;
	background-color: rgba(30, 25, 25, 0.8);
	position: relative;
	padding: 40px 20px 30px;
	min-height: 420px;
	h1 {
		margin-top: -5px;
		float: left;
		margin-left: 35px;
		line-height: 34px;
		color: #FFF;
		font-weight: bold;
	}
	#reviews { 
	.vendor-reviews { 
		.vendor-reviews__inner { 
			.reviews { 
				list-style: outside none none; 
				padding: 0px; 
				margin: 0px; 
				.reviews__review { 
					height: 129px; 
					margin: 0px; 
					padding-top: 25px; 
					padding-bottom: 25px; 
					font-size: 14px; 
					.reviews__review__date { 
						height: 40px; 
						float: left; 
						width: 16.6667%; 
						position: relative; 
						min-height: 1px; 
						padding-right: 10px; 
						padding-left: 0px; 
						font-weight: 300; 
						margin-top: 5px; 

						.reviews__review__date__date { 
							display: block; 
							color: #FFF; 
						} 
						.reviews__review__date__author { 
							display: block; 
							color: #FFF; 
						} 
					} 
				.reviews__review:first-of-type { 
					padding-top: 0px; 
					height: 84px; 
				}	 
				.reviews__review__review { 
					float: left; 
					width: 83.3333%; 
					position: relative; 
					min-height: 1px; 
					padding-left: 10px; 
					padding-right: 10px; 
					.reviews__review__review__title {
						color: #FFF; 
						font-weight: 700; 
					} 
				} 
				} 
			} 
		} 
	} 
} 
	.vendor-tabs { 
				border-bottom: 0px;
				width: 550px; 
				margin-left: 0px; 
				padding-left: 10px; 
				li { 
					font-weight: bold; 
					font-size: 14px; 
					text-align: center; 
					a { 
						color: #808080; 
						padding: 15px 25px; 
						border: 0px none; 
						text-decoration: none; 
						&:hover { 
							color: #808080; 
							background-color: transparent;
							border: 0px;
						}; 
					} 
				} 
				li.active { 
					font-weight: bold; 
					font-size: 14px; 
					text-align: center; 
					margin-left: 5px; 
					a { 
						color: #E32523; 
    					border-bottom: 2px solid #E32523; 
    					text-decoration: none; 
    					background-color: transparent;
					} 
				}
			} 
	.menu-category-title {
		color: #FFF;
		font-weight: bold;
	}
	.table {
		display: table;
		tbody {
			d0isplay: table-row-group;
			tr {
				border-top: 2px solid transparent;
				display: table-row;
				.picture-product {
					padding: 15px 0px;
					img {
						width: 80px;
						height: 80px;
						border-bottom: 1px solid #AAA;
						border-right: 1px solid #AAA;
					}
				.name-tovar {
					font-size: 16px;
					padding: 15px 0px;
					color: #FFF;
					.tovar-title {
						font-size: 18px;
						color: #FFF;
					}
					p {
						color: #FFF;
					}
					.tovar-price {
						color: #FFF;
						font-size: 14px;
						padding: 15px 0px;
						line-height: 20px;
						.button_to { 
							border-radius: 50px;
						}
						span {
							font-weight: bold;
						}
					}
				}
				}
			}
		}
	}
	.logo-restaurant {
		font-size: 14pt;
		text-align: center;
		margin-top: -10px;
		img {
			padding-bottom: 15px;
			height: 195px;
			width: 180px;
			border-radius: 25%;
		}
	}
	#cart {
		position: relative;
		left: 50px;	
		font-size: smaller;
		color: white;
		table {
			margin-bottom: 10px;
		}
	}
	.rating {
		margin-bottom: 10px;
		text-align: center;
		.star-rating {
			display: inline-block;
		}
		.reviews_length {
			display: inline-block;
			color: #FFF;
		}	
	}
	#restaurant-location {
		img {
			height: 333px;
			width: 320px;
			position: relative;
			left: 35px;
			border-radius: 0px;
			border-top: 1px solid #FFF;
			border-left: 1px solid #FFF;
		}
	}
}

.clear { 
	clear: both;
}

.button-plus {
	border-radius: 50%;
	font-weight: bold;
}

.cart__header__head__delivery-time { 
	font-size: 12px; 
	position: relative;
	right: 50px;
	top: 10px;
	.cart__header__head__delivery-time__label { 
		float: left; 
		padding-top: 10px; 
		color: #fff; 
		font-weight: bold;
	} 
	.cart__header__head__delivery-time__time { 
		color: #fff; 
		float: right; 
		text-align: center; 
		position: relative;
		right: 100px;
		.delivery_time_minutes { 
			display: block; 
			margin: auto; 
			font-size: 40px; 
			font-weight: 300; 
			line-height: 100%; 
		} 
		.delivery_time_label { 
			display: block; 
			margin: 5px auto auto; 
			vertical-align: text-bottom; 

		} 
	} 
}

.cart__checkout { 
	a { 
		padding: 10px; 
		&:hover { 
			background-color: #CF110F; 
		}; 
	} 
	.btn-primary { 
		background-color: #E32523; 
		border-color: #CF110F; 
		color: #FFF; 
		text-decoration: none; 
	} 
	.btn { 
		font-size: 14px; 
		border: 0px none; 
		border-radius:  3px; 
		text-transform: uppercase; 
		letter-spacing: 2px; 
		font-weight: 500; 
		border-radius: 2px; 
		border-width: 0px; 
	} 
	.btn-block { 
		display: block; 
		width: 260px; 
	} 
}  
						
/* welcome */ 

.join {
	height: 500px;
	background: #FFF none repeat scroll 0% 0%;
		.what24 {
			margin: 60px 0px 0px 20px;
			h4 {
				color: #000;
				font-size: 30px;
				font-weight: bold;
				margin: 0px 0px 30px;
			}
			p {
				color: #000;
				font-size: 15px;
				line-height: 24px;
			}
		}
		.knopka {
			margin: 20px 0px 0px;
			text-align: center;
			font-size: 28px;
			color: #FFF;
			line-height: 30px;
			span.knopka {
				background-color: #C2191C;
				width: 212px;
				height: 47px;
				display: block;
				line-height: 47px;
				text-align: center;font-size: 24px;
				color: #FFF;
				font-weight: bold;
				margin: 0px auto 20px;
				border-radius: 10px;
				cursor: pointer;
			}
		}
}

.hide-bullets {
	list-style:none;
	margin-left: -40px;
	margin-top:20px;
}

.carousel .item {
  height: 500px;
  width: 640px;
}

.item img {
   position: absolute;
   top: 0;
   left: 0;
   min-height: 500px;
   width: 640px;
}

.gor-meny-head {
	position: relative;
	top: -80px;
	height: 40px;
	right: 40px;
	#nav {
		margin: 0px;
		display: table;
		border-collapse: separate;
		position: relative;
		left: -2px;
		top: -2px;
		width: 944px;
		height: 40px;
		border: medium none;
		border-spacing: 2px;
		background-image: none;
		li {
			list-style: outside none;
			float: none;
			height: 40px;
			border: medium none;
			background-color: #E32523;
			margin-right: 2px;
			display: table-cell;
			text-align: center;
			a {
				list-style: outside none none;
				padding: 0px;
				background-image: none;
				height: 40px;
				color: #FFF;
				line-height: 40px;
				font-weight: bold;
				font-weight: 18px;
				text-align: center;
				display: block;
				width: 100%;
				text-decoration: none;
				span {
					text-align: center;
				}
				&:hover {
				background-color: #E32523;
			};
			}
			
		}
		li.live {
			background-color: rgba(255, 152, 0, 0.8);
			a {
				&:hover {
					background-color: rgba(255, 152, 0, 0.8);		
				};
			}
		}
	}
}

.img-res {
	width: 70px;
	height: 70px;
	margin-bottom: 20px;
}

.restaurant-popular {
	margin-bottom: 40px;
}

.main-page-search {
	top: -350px;
	.main-search {
		background-color: rgba(0, 0, 0, 0.5);
		padding: 30px 40px;
		width: 100%;	
		p {
			    color: #FFF;
		    	font-size: 24px;
		    	margin-bottom: 10px;
		}
		.input.neighborhood {
			padding: 8px 5px;
			margin-right: 20px;
		}	
		.ui-helper-hidden-accessibl {
			    border: 0px none;
				    clip: rect(0px, 0px, 0px, 0px);
				    height: 1px;
				    margin: -1px;
				    overflow: hidden;
				    padding: 0px;
				    position: absolute;
				    width: 1px;
		}
		.main-search-submit {
		    font-size: 30px;
		    font-family: "myriad-pro",sans-serif;
		    padding: 5px;
		    background-color: rgba(161, 23, 23, 0.9);
		    border: medium none;
		    color: #FFF;
		    cursor: pointer;
		    width: 220px;
		    text-align: center;
		}
	}
}
