/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



@mixin box-shadow {
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

body {
	font-family: "Open Sans",sans-serif;
}

$red: #DB6161;
 
#order-heading {
	margin: 0;
	padding-bottom: 0.5em;
	font: 150% sans-serif;
	color: #226;
}

.navbar {
	background-color: #FFF;
	@include box-shadow;
	border: none;
	margin-bottom : 0px;
	.navbar-brand {
		text-transform: uppercase;
		letter-spacing: -1px;
		font-weight: bold;
		font-size: 25px;
		a {
			color: $red;
			&:hover {
				color: $red;
				background-color: white;
				text-decoration: underline;
			}
		}
	}
	li {
		a {
			&:hover {
				background-color: #FFF;
			}
		}
	}
}

.restaurant {
	background: white;
	border-radius: 5px;
	margin-bottom: 40px;
	@include box-shadow;
	.image_wrapper {
		max-width: 100%;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}
	img {
		width: 100%;
		-webkit-transition: all .3s ease-out;
	  	-moz-transition: all .3s ease-out;
	 	-o-transition: all .3s ease-out;
    	transition: all .3s ease-out;
		&:hover {
			transform: scale(1.075);
		}
	}
	h2 {
		padding: 15px 5%;
		margin: 0;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		text-align: center;
		a {
			text-decoration: none;
			color: black;
			font-weight: bold;
			&:hover {
				background-color: white;
				text-decoration: none;
				color: black;
				font-weight: bold;
			}
		}
	}
}

.review_title {
	margin: 0 0 20px 0;
}
.reviews {
	padding: 15px 0;
	border-bottom: 1px solid #EAEAEA;
	.star-rating {
		padding-bottom: 8px;
	}
}


.menu {
	h1 {
		margin: 0;
		padding-bottom: 0.5em;
		font: 150% sans-serif;
		color: #226;
		border-bottom: 3px dotted #EDEDED;
	}

	/* An entry in the store catalog */
	.entry {
		overflow: auto;
		margin-top: 1em;
		border-bottom: 1px dotted #EDEDED;
		min-height: 100px;
		margin-left: 0px;
		margin-right: 0px;
		.menu-item__content-container {
			float: left;
			width: 75%;
			position: relative;
			min-height: 1px;
			padding-left: 0px;
			padding-right: 0px;
			.menu-item__content {
				padding: 10px 0px;
				position: relative;
				img {
					width: 80px;
					margin-right: 5px;
					margin-bottom: 5px;
					position: absolute;
				}

				h3 {
					font-size: 120%;
					font-family: sans-serif;
					margin-left: 100px;
					margin-top: 0;
					margin-bottom: 2px;
					color: #1C2C3A;	
				}

				p, div.price_line {
					margin-left: 100px;
					margin-top: 0.5em;
					margin-bottom: 0.8em;
					line-height: 1.3;
					font-size: 14px;
					font-weight: 300;
					color: #8E969D;

					form, div {
						display: inline;
					}
				}
			}
			.has-image {
				min-height: 101px;
			}
		}

		.menu-item__variations-container {
			width: 25%;
			float: left;
			.price {
				color: #1C2C3A;
				font-weight: 400;
				margin-right: 3em;
				font-size: 14px;
			}
		}
	}
}

.jumbotron {
	height: 483px;
	background: url(bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: calc(100% - 0px) calc(100% + 70px); 
	text-align: center;
	h1 {
		font-size: 50px;
		font-weight: 900;
		color: #FFF;
		position: relative;
		top: 50px;
	}
	h2 {
		font-weight: bold;
		color: #FFF;
		font-size: 24px;
		position: relative;
		top: 40px;
	}
}

.order-steps-container {
	border-bottom: 1px solid #EDEDED;
	background: #FFF none repeat scroll 0% 0%;
	.order-steps {
		.container {
			ul {
				position: relative;
				margin: 20px 0px;
				padding: 0px;
				list-style: outside none none;
				li {
					float: left;
					width: 25%;
					padding-left: 10px;
					padding-right: 10px;
					text-align: center;
					color: #333;
					word-break: break-all;
					position: relative;
					min-height: 83px;
					margin: 20px 0px;
					.title {
						font-size: 18px;
						margin: 0px 0px 10px;
						font-weight: 700;
					}
					.description {
						font-size: 16px;
						color: #444;
						margin: 0px;
						line-height: 1.6;
						font-weight: 400;
					}
				}
			}
		}
	}
}

.vendors-heading-container {
	margin-bottom: 0px;
	min-height: 300px;
	background: url(bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: calc(100% - 0px) calc(100% + 70px); 
	.container {
		animation: 2s ease 0s normal none 1 running fadein;
		.vendor-heading {
			text-align: center;
			padding-top: 24px;
			.vendor-image {
				display: inline-block;
				position: relative;
				z-index: 2;
				margin: auto;
				width: 82px;
				height: 82px;
				border-radius: 5px;
				box-shadow: 0px 2px 5px #8E969D;
				border: 1px solid #FFF;
				background-color: rgba(255, 255, 255, 0.7);
			}
			.vendor-heading-details-box-container {
				position: relative;
				z-index: 1;
				margin-top: -10px;
				.vendor-heading-details-box {
					width: 457px;
					display: inline-block;
					padding: 20px;
					min-width: 300px;
					background-color: rgba(255, 255, 255, 0.7);
					border-radius: 4px;
					.vendor__cuisines {
						font-size: 14px;
						margin-bottom: 5px;
						color: #333;
						list-style-type: none;
						a {
							color: #666;
							font-weight: 300;
							text-decoration: none;
						}
					}
					.vendor__ratings-container {
						margin: 20px -20px -20px;
						padding: 5px;
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
						background-color: rgba(255, 255, 255, 0.7);
						.vendor__ratings {
							font-weight: 300;
							.rating{
								min-height: 30px;
								display: inline-block;
								position: relative;
								text-align: left;
								vertical-align: text-bottom;
								.star-rating {
									display: inline-block;
									margin-right: 10px;
									.reviews_length {
										display:inline-block;
									}	
								}
							}
						}
					}
				}
			}
		}
	}
}

#btn-danger2 {
	color: white;
	text-decoration: none;
}

.restaurant-info {
	padding-top: 20px;
	padding-bottom: 20px;
}

.breadcrumbs {
	height: 50px;
	width: 100%;
	background: transparent none repeat scroll 0px 0px;
	font-size: 12px;
	font-weight: 300;
	color: #8E969D;
	position: relative;
	padding: 11px;
	.breadcrumbs__pages {
		list-style: outside none none;
		position: relative;
		padding: 0px;
		margin: 0px -10px;
		float: left;
		.breadcrumbs__pages__item {
			margin: 0px;
			position: relative;
			float: left;
			padding: 0px 12px 0px 10px;
			a {
				text-decoration: none;
				background: transparent none repeat scroll 0px 0px;
				color: #8E969D;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -3px;
				width: 6px;
				height: 6px;
				border-width: 1px 1px medium medium;
				border-style: solid solid none none;
				border-color: -moz-use-text-color;
				transform: rotate(45deg);
				right: 0px;
			};
		}
	}
}

.vendor-view-container {
	.row {
		margin-left: -10px;
		margin-right: -10px;
			.vendor-tabs {
				width: 850px;
				margin-left: 0px;
				margin-bottom: 1px;
				padding-left: 10px;
				padding-right: 10px;
				background-color: #FFF;
				border-bottom: 1px solid #EDEDED;
				li {
					font-weight: 300;
					font-size: 14px;
					text-align: center;
					margin-left: 5px;
					margin-right: 5px;
					a {
						color: #808080;
						padding: 15px 25px;
						border: 0px none;
						text-decoration: none;
						&:hover {
							background-color: #FFF;
							color: #1C2C3A;
						};
					}
				}
				li.active {
					font-weight: 300;
					font-size: 14px;
					text-align: center;
					margin-left: 5px;
					margin-right: 5px;
					a {
						color: #E32523;
    					border-bottom: 2px solid #E32523;
    					text-decoration: none;
					}
				}
			}
				.vendor-menu {
					padding: 20px;
					width: 830px;
					margin-left: -10px;
					margin-right: -10px;
					.vendor-menu__categories {
						width: 207px;
						float: left;
						width: 25%;
						.categories__list {
							list-style-type: none;
							margin-bottom: 0px;
							margin-left: 0px;
							.categories__list__item {
								position: relative;
								font-weight: 300;
								color: #8E969D;
								a {
									color: inherit;
									text-decoration: none;
									background-color: #FFF;
								}
							}
						}
					}
					.vendor-menu__menus {
						float: left;
						width: 75%;
						.menu__category__title {
							font-size: 18px;
							font-weight: 400;
							margin: 0px 0px 10px;
							color: #1C2C3A;
							text-transform: capitalize;
						}
						.menu-item__title {
							color: #1C2C3A;
							font-size: 14px;
							font-weight: 400;
							display: inline-block;
							vertical-align: middle;
						}
						.menu-item__description {
							line-height: 1.3;
							font-size: 14px;
							font-weight: 300;
							margin: 2px 0px 0px;
							color: #8E969D;
						}
					}

				}	
		
	}	

	.cart-container {
		.cart {
			z-index: 971;
			color: #444;
			.cart__inner {
				position: relative;
				.cart__content {
					box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.1);
					background: #FFF none repeat scroll 0% 0%;
					z-index: 972;
					.cart__header__head {
						height: 72.15px;
						padding: 5px 10px;
							.cart__header__head__delivery-time {
							font-size: 12px;
							.cart__header__head__delivery-time__label {
								float: left;
								padding-top: 10px;
								color: #8E969D;
							}
							.cart__header__head__delivery-time__time {
								color: #1C2C3A;
								float: right;
								text-align: center;
								.delivery_time_minutes {
									display: block;
									margin: auto;
									font-size: 40px;
									font-weight: 300;
									line-height: 100%;
								}
								.delivery_time_label {
									display: block;
									margin: 5px auto auto;
									vertical-align: text-bottom;
								}
							.clear {
								clear: both;
							}	
							}
						}
					}
					.cart__header {
						height: 50px;
						h1 {
						position: relative;
						font-weight: 400;
						font-size: 20px;
						color: #1C2C3A;
						border-bottom: 1px solid #EDEDED;
				
						}
						
					}
					.cart__products {
						overflow: visible;
						padding-left: 10px;
						padding-right: 10px;
						table {
							width: 100%;
							font-size: 13px;
							line-height: 16px;
							background-color: transparent;
							.product {
								td {
									height: 60px;
									border-bottom: 1px solid #EDEDED;
								}
								.product__quantity {
									.product__amount-controls {
										transition: border 0.25s ease-in-out 0s;
										.product__quantity__wrapper {
											display: block;
											color: #E32523 !important;
											padding: 1.5px 5px;
											text-align: center;
										}
									}
								}
								.product__title {
									width: 100%;
									padding-left: 10px;
									padding-right: 5px;
									.product__title__name {
										font-weight: 300;
									}
								}
								.product__price {
									text-align: right;
									font-weight: 300;
									white-space: nowrap;
								}
							}
						}
					}
					.cart__summary {
						padding: 10px;
						font-weight: 300;
						color: #1C2C3A;
						table {
							width: 100%;
							font-size: 13px;
							line-height: 16px;
							tr {
								td:first-of-type {
									display: none;
								}
								font-weight: 300;
								td {
									padding: 7px;
								}
								.price {
									white-space: nowrap;
									text-align: right;
									padding-left: 5px;
								}
								.total-price {
									text-align: center;
									font-size: 25px;
									text-align: right;
								}
							}
						}
					}
					.cart__checkout {
						a {
							padding: 10px;
							&:hover {
								background-color: #CF110F;
							};

						}
						.btn-primary {
							background-color: #E32523;
							border-color: #CF110F;
							color: #FFF;
							text-decoration: none;
						}
						.btn {
							font-size: 14px;
							border: 0px none;
							border-radius:  3px;
							text-transform: uppercase;
							letter-spacing: 2px;
							font-weight: 500;
							border-radius: 2px;
							border-width: 0px;
						}
						.btn-block {
							display: block;
							width: 100%;
						}
					}
				}
				.cart__empty {
					-moz-user-select: none;
					margin-top: 20px;
					.cart__empty__elements {
						margin: 0px;
						padding-left: 10px;
						padding-right: 10px;
						list-style: outside none none;
						li {
							margin-bottom: 5px;
							color: #8E969D;
							font-size: 12px;
							.title {
								display: block;
								font-weight: 700;
							}
							.value {
								display: block;
								font-weight: 300;
							}
						}
					}
				}
			}
		}
	}
}


#reviews {
	.vendor-reviews {
		.vendor-reviews__inner {
			.reviews {
				list-style: outside none none;
				padding: 0px;
				margin: 0px;
				.reviews__review {
					height: 129px;
					margin: 0px;
					padding-top: 25px;
					padding-bottom: 25px;
					border-bottom: 1px solid #EDEDED;
					font-size: 14px;
					.reviews__review__date {
						height: 40px;
						float: left;
						width: 16.6667%;
						position: relative;
						min-height: 1px;
						padding-right: 10px;
						padding-left: 0px;
						font-weight: 300;
						margin-top: 5px;

						.reviews__review__date__date {
							display: block;
							color: #1C2C3A;
						}
						.reviews__review__date__author {
							display: block;
							color: #8E969D;
						}
					}
					.reviews__review:first-of-type {
						padding-top: 0px;
						height: 84px;
					}	
					.reviews__review__review {
						float: left;
						width: 83.3333%;
						position: relative;
						min-height: 1px;
						padding-left: 10px;
						padding-right: 10px;
						.reviews__review__review__title {
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}

.popular-restaurants {
	max-width: 960px;
	width: 100%;
	margin: 60px auto;
	padding: 0px;
	.txtHead {
		font-family: "Open Sans", sans-serif;
		font-size: 24px;
		color: #222;
		font-weight: 700;
		text-align: center;
		margin: 0px 0px 20px;
	}
	.Innul {
		width: 100%;
		margin: 0px auto;
		padding: 0px;
		li {
			width: 12.4%;
			list-style: outside none none;
			padding:  0% 1%;
			float: left;
			img {
				width: 100%;
				float: none;
				vertical-align: top;
			} 
		}
	}
	.clr {
		clear: both;
	}
}

.nearby-restaurant {
	width: 300px;
	background: white;
	border-radius: 5px;
	margin-bottom: 40px;
	@include box-shadow;
	.image_wrapper {
		width: 300px;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}
	img {
		-webkit-transition: all .3s ease-out;
	  	-moz-transition: all .3s ease-out;
	 	-o-transition: all .3s ease-out;
    	transition: all .3s ease-out;
		&:hover {
			transform: scale(1.075);
		}
	}
}

/* Forms */ 

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}