<% if line_item == @current_item %>
	<tr id="current_item" class="product">
<% else %> 
	<tr class="product">
<% end %>

	<td class="product__quantity">
		<div class="product__amount-controls">
			<span class="product__quantity__wrapper"><%= line_item.quantity %>&times;</span>
		</div>
		
	</td>
	<td class="product__title">
		<span class="product__title__name"><%= line_item.food.title %></span>
	</td>
	<td class="product__price"><%= number_to_currency(line_item.total_price, unit: "MAD ") %></td>
	
	 <td><%= button_to 'X', restaurant_line_item_path(@restaurant, line_item), :method => :delete, :confirm => 'Are You Sure', class: "btn-x delete_pony" %></td>
</tr> 