<footer class="navbar-fixed-bottom my-footer">
  	<div class="container">
    <p>&copy; <%= Date.today.year %> Just Eat, Inc. &middot; <a href="#">Privacy Policy</a> &middot; <a href="#">Terms of Services</a></p>
  </div>
</footer>
