<footer>
  	<div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; <%= Date.today.year %> Just Eat, Inc. &middot; <a href="#">Privacy Policy</a> &middot; <a href="#">Terms of Services</a></p>
  </div>
</footer>
